img {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(51, 51, 51);
}

.content {
    width: 100%;
    height: 1400px;
    background-color: white;
    padding-top: 100px;
    transition: all 0.5s linear;
    transform-origin: left top;
    position: relative;
    z-index: -1;
}

.content_move {
    transform: rotateZ(-25deg);
}

.content div {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.content p {
    margin: 30px 0 30px 0;
}

.img_box {
    overflow: hidden;
    height: 700px;
}

.left_box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(255, 121, 121);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
    transform: translateX(-100px) translateY(-100px);
}

.icon_move {
    transform: translateX(-100px) translateY(-100px) rotateZ(-90deg);
}

.left_box div {
    width: 100px;
    height: 100px;
    color: rgb(236, 236, 236);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_box div:nth-child(4) {
    transform: translateX(-10px) translateY(-10px);
}

.left_box div:nth-child(3) {
    transform: translateX(10px) translateY(-10px);
}

.fixed_icon {
    outline: 2px solid black;
    transform: translateX(-120px);
    position: fixed;
    top: 710px;
    color: rgb(2, 0, 0);
    font-size: 20px;

}

.fixed_icon div {
    margin-top: 20px;
    transition: all 0.5s linear;
    color: white;


}

.fixed_icon_son0 {
    transform: translateX(140px);
}
.fixed_icon_son1 {
    transform: translateX(200px);
}
.fixed_icon_son2 {
    transform: translateX(240px);
}

